@import 'smart-grid';
@import '_normalize';
@import '_fonts';
// @import 'swiper.min.css';


// https://vk.com/id290805503

//---vars
// $text: white;
// black: #be84a3;
$mainGreen: #9cc83a;
$mainWhite: #f2f2f2;

///---------common styles ----------------------

html {
	// font-size: 20px;
}

*{
	box-sizing: border-box;
}

img{
	margin: 0;
	padding: 0;
	width: 100%;	
}

picture{
	display: block;

	& > *{
		vertical-align: top;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

body, div, h1, h2, h3, h4, p, input {
	margin: 0;
	padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {	
	// border: 1px solid red;
	position: relative;
	// @include wrapper();

	// @include to(1920px){
	// 	max-width: calc(1338.5px + 60px);
	// }

	// @include sm(max-width, 93%);
  // @include xs(max-width, 100%);
  
  width: 77.8%;
  margin: 0 auto;

  @media screen and (max-width: 1023px){
    width: calc(100% - 60px);
  }

  @media screen and (max-width: 560px){
    width: calc(100% - 30px);
  }
}

.page {
	position: relative;
	// max-width: 1920px;
}

.asideColumn {
	position: fixed;
	z-index: 10;
	width: 185px;
	height: 100vh;
	padding: 20px 0 10px 25px;
	background-color: #fff;
	border-right: 1px solid #e5e5e5;

	@include to(1023px){
		display: none;
	}

	& > p{
	}
}

.pageWrap {
	padding-left: 187px;

	@include to(1023px){
		padding-left: 0;
	}
}

.uniqueizer11221{
  position: relative;
  line-height: 1.15;
  background-color: $mainWhite;
  overflow: hidden;

  .mainTitle{
    font-family: Mir-Bold, sans-serif;
    text-transform: uppercase;
		font-size: 2.03vw;
		color: black;
		line-height: 1;

		@media screen and (max-width: 1023px){
      font-size: 3vw;
    }
		@include sm(font-size, 3.5vw);
		@include xs(font-size, 4vw);
		// @include xxs(font-size, 3.2vw);
	}

	.mainText{
    font-family: Mir-Medium, sans-serif;
    text-transform: uppercase;
		font-size: 1.2vw;
		color: black;
    line-height: 1.25;
    
    @media screen and (max-width: 1280px){
      font-size: 1.1vw;
    }

		@media screen and (max-width: 1023px){
      font-size: 1.8vw;
    }
		// @include sm(font-size, 1.6vw);
		@include xs(font-size, 2.2vw);
		// @include xxs(font-size, 3.2vw);

		// & > span{
			
		// }
  }
  
  .titleLine{
    margin: .5vw 0;
    display: flex;
    align-items: center;
    transform: translateX(-100vw);
    transition: .7s cubic-bezier(.41,1.06,.58,.96);
    // transition: .7s;

    @include xs(margin, 3px 0);

    & > div{
      &:first-child{
        background-color: white;
        width: 37vw;
        height: 3px;

        @media screen and (max-width: 1023px){
          width: 42vw;
        }

        @include sm(width, 49vw);

        @include xs-block{
          width: 59vw;
          height: 1px;
        }
      }
  
      &:last-child{
        background-color: white;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin-left: -2px;

        @include xs-block{
          width: 5px;
          height: 5px;
        }
      }
    }    

    &_green{
      & > div{
        &:first-child{
          background-color: $mainGreen;
          width: 45vw;

          @media screen and (max-width: 1023px){
            width: 62vw;
          }

          @include sm(width, 71vw);
          @include xs(width, 77vw);
        }
    
        &:last-child{
          background-color: $mainGreen;
          width: 13px;
          height: 13px;
          border-radius: 50%;
        }
      }
    }

    &_show{
      transform: translateX(-11vw);
    }
  }

  .dot{
    position: absolute;
    top: .5vw;    
    left: 0;
    transform: translateX(calc((.4vw + 0.5vw) * -1));
    width: .4vw;
    height: .4vw;
    min-width: 7px;
    min-height: 7px;
    border-radius: 50%;

    @include sm(transform, translateX(-10px));

    &_white{
      background-color: $mainGreen;
      border: 1.5px solid white;
    }

    &_green{
      background-color: $mainWhite;
      border: 1.5px solid $mainGreen;
    }
  }

	.firstBlock{
		// border: 1px solid black;
		position: relative;
		line-height: 1.15;
		text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0px 11px 21px 0px rgba(33, 34, 42, 0.13);
    z-index: 2;
    // height: 21.1vw;

    &__fullBg{
      width: 100%;

      @media screen and (max-width: 1023px){
        width: 110%;
      }

      @include sm-block{
        width: 135%;
        margin-left: -35%;
      }
    }

    &__buildings{
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateX(30%);
      width: 32%;

      @include sm(display, inline-block);
    }
    
    /* &__greenBg{
      position: absolute;
      top: 0;
      left: 0;
      width: 95.3%;
    }

    &__builds{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 23%;
    } */

    &__triangle{
      position: absolute;
      right: 10%;
      // bottom: 0;
      bottom: -8vw;
      width: 30vw;
      // transform: translateY(80%);

      @include xs(right, 2%);
    }

    &__date{
      position: absolute;
      right: 19.3%;
      bottom: 0;
      font-family: Mir-Bold, sans-serif;
      font-size: 1vw;
      transform: rotate(90deg) translateX(-60%);

      @media screen and (max-width: 1023px){
        font-size: 1.5vw;
        right: 10%;
      }

      @include sm-block{
        font-size: 2vw;
        right: 13%;
      }

      @include xs-block{
        font-size: 2.6vw;
        right: 10%;
        transform: rotate(90deg) translateX(-50%);
      }
    }

    &__container{
      // border: 1px solid red;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      // padding: 4.3vw 0 6.5vw 0;
      padding-top: 4.3vw;

      @include xs(padding-top, 3vw);
    }

    &__titleBlock{
      // border: 1px solid black;
      font-family: Mir-Bold, sans-serif;
      text-align: left;
      text-transform: uppercase;
      line-height: 1;
      // letter-spacing: .5px;

      & > h2{
        color: white;
        font-size: 1.78vw;

        @media screen and (max-width: 1023px){
          font-size: 2.8vw;
        }

        @include sm(font-size, 3.7vw);
        @include xs(font-size, 4.7vw);
      }

      & > h1{
        font-size: 3.5vw;
        margin-top: 5px;
        margin-bottom: 0;

        @media screen and (max-width: 1023px){
          font-size: 5.45vw;
        }

        @include sm(font-size, 7.25vw);
        @include xs(font-size, 9.2vw);
      }
    }

    &__subtitle{
      font-family: Mir-Bold, sans-serif;
      text-align: left;
      text-transform: uppercase;
      font-size: 1.15vw;

      @media screen and (max-width: 1023px){
        font-size: 2vw;
      }

      @include sm(font-size, 2.5vw);
    }

    &__logosLayout{
      // border: 1px solid black;
      position: absolute;
      //100% - width of container / 2
      left: calc((100% - 77.8%) / 2);
      bottom: 0;
      transform: translateY(50%);
      box-shadow: 9px 10px 32px 0px rgba(33, 34, 42, 0.13),-0.6px -0.7px 32px 0px rgba(255, 255, 255, 0.13);
      background-color: white;
      padding: 1vw 1.5vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 23.4vw;

      @media screen and (max-width: 1023px){
        width: 32vw;
        left: 30px;
      }

      @include sm-block{
        width: 45vw;
      }

      @include xs-block{
        width: 55vw;
        transform: translateY(65%);
      }

      & > img{
        
        &:first-child{
          width: 43%;
        }

        &:last-child{
          width: 50%;
        }
      }
    }
  }
  
  .tasks{
    // border: 1px solid black;
		position: relative;
    line-height: 1.15;
    padding-top: 7vw;
    padding-bottom: 4.1vw;
    z-index: 1;

    @media screen and (max-width: 1023px){
      padding-top: 8vw;
      padding-bottom: 5vw;
    }

    @include sm-block{
      padding-top: 9vw;
      padding-bottom: 6vw;
    }

    @include xs-block{
      padding-top: 10vw;
      padding-bottom: 6vw;
    }
    
    &__list{
      // border: 1px solid red;
      position: relative;
      color: black;
    }

    &__task{
      // border: 1px solid black;
      position: relative;
      display: flex;
      align-items: center;
      margin: .1vw 0;

      & > div{
        width: 0.4vw;
        height: 0.4vw;
        min-height: 7px;
        min-width: 7px;
        border-radius: 50%;
        border: 1.5px solid $mainGreen;
        background-color: $mainWhite;
        margin-right: .8vw;
      }
    } 

    &__dottedLine{ 
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(.13vw);
      width: 2px;
      height: 80%;

      @media screen and (max-width: 1366px){
        left: 0.22vw;
      }

      @media screen and (max-width: 1023px){
        left: 0.25vw;
      }

      @include sm-block{
        left: .38vw;
        height: 67%;
      }

      @include xxs-block{
        left: .55vw;
        height: 67%;
      }
    }
  }

  .TA{
    // border: 1px solid black;
		position: relative;
    line-height: 1.15;

    &__boldTitle{
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    &__circ{
      border: 1.5px solid white;
      background-color: $mainGreen;
      width: 0.4vw;
      height: 0.4vw;
      min-height: 7px;
      min-width: 7px;
      border-radius: 50%;
      margin-right: .5vw;
    }

    &__fullBg{
      width: 100%;

      @media screen and (max-width: 1023px){
        width: 114%;
        margin-left: -9%;
      }

      @include sm-block{
        width: 135%;
        margin-left: -33%;
      }

      @include xs(margin-left, -20%);
    }

    &__peopleBg{
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5%;
      width: 33%;

      @include sm(display, block);
      @include xs-block{
        width: 28%;
        right: 0;
      }
    }

    &__container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -52.5%);
    }

    &__textBlock{
      // border: 1px solid red;
      position: relative;
      width: 47%;

      margin: 1vw 0;

      @media screen and (max-width: 1023px){
        width: 53%;
      }

      @include sm(width, 60%);
      @include xs(width, 75%);
      // @include xxs(width, 75%);
    }

    &__dotted{
      position: absolute;
      top: .5vw;
      left: calc(.15vw);
      width: 2px;
      height: 110%;

      @media screen and (max-width: 1366px){
        left: 0.22vw;
      }

      @media screen and (max-width: 1023px){
        height: 105%;
        top: 6%;
        left: .3vw; 
      }

      @include xs(left, .5vw);
    }

    &__text{
      color: #3c6971;
      font-weight: bold;
      margin-left: .9vw;
      margin-top: .2vw;

      @include sm(margin-left, 10px);
    }
  }

  .decision{
    // border: 1px solid black;
		position: relative;
    line-height: 1.15;
    padding-top: 2.5vw;
    padding-bottom: 3.5vw;
    z-index: 3;

    @media screen and (max-width: 1023px){
      padding-top: 5vw;
      padding-bottom: 5vw;
    }

    @include sm-block{
      padding-top: 6vw;
      padding-bottom: 6vw;
    }

    &__triangle{
      position: absolute;
      // bottom: 0;
      bottom: -13vw;
      // transform: translateY(10%);
      right: 5vw;
      width: 20vw;
		}

    &__block{
      // border: 1px solid black;
      width: 90%;
      margin: 1vw 0;
    }

    &__titleBlock{
      font-family: Mir-Bold, sans-serif;
    }

    &__list{
      position: relative;
      margin-top: .2vw;
    }

    &__task{
      position: relative;
      font-family: Mir-Bold, sans-serif;
      color: #3c6971;

      transform: translateX(calc(.4vw + .5vw));
      @include sm(transform, translateX(10px));
    }

    &__dottedLine{
      position: absolute;
      top: 1vw;
      left: .14vw;
      width: 2px;

      @media screen and (max-width: 1366px){
        left: 0.23vw;
      }

      @media screen and (max-width: 1023px){
        left: .25vw;
      }

      &_1{
        height: 71%;

        @media screen and (max-width: 1366px){
          height: 77%;
        }

        @media screen and (max-width: 1023px){
          height: 73%;
        }

        @include xs(left, .5vw);
      }

      &_2{
        height: 40%;

        @media screen and (max-width: 1023px){
          height: 54%;
        }
        @include xs-block{
          left: 0.5vw;
          height: 63%;
        }
      }
    }
	}
	
	.result{
		// border: 1px solid black;
		position: relative;
    line-height: 1.15;
    z-index: 2;
    // box-shadow: 0px 11px 21px 0px rgba(33, 34, 42, 0.13);

    &__fullBg{

      width: 100%;

      @media screen and (max-width: 1023px){
        width: 110%;
      }

      @include sm-block{
        width: 135%;
        margin-left: -5%;
      }
    }

    &__triangle{
      position: absolute;
      left: 14vw;
      // bottom: 0;
      bottom: -30vw;
      // transform: translateY(42%);
      width: 26%;

      @media screen and (max-width: 1023px){
        // transform: translateY(55%);
        bottom: -40vw;
      }
    }

		&__container{
			// border: 1px solid red;
			position: absolute;
      top: 50%;
      left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			align-items: center;
		}

		&__left{
      // border: 1px solid black;
      width: 42%;

      @include sm(width, 50%);
      @include xs(width, 55%);
		}

		&__right{
      // border: 1px solid white;
      width: 36.6%;
      text-align: center;
      margin-left: 3vw;

      @include sm(width, 50%);
      @include xs(width, 45%);

      & > img{
        width: 50%;
        margin-top: 1.5vw;

        @media screen and (max-width: 1023px){
          width: 60%;
        }

        @include xs(width, 70%);
      }

      & > h2{
        color: white;

        @media screen and (max-width: 1366px){
          font-size: 1.8vw;
        }

        @media screen and (max-width: 1023px){
          font-size: 2.5vw;
        }

        @include xs(font-size, 3vw);
      }
		}

		&__circ{
      border: 1.5px solid white;
      background-color: $mainGreen;
      width: 0.4vw;
      height: 0.4vw;
      min-height: 7px;
      min-width: 7px;
      border-radius: 50%;
      margin-right: .5vw;
    }

		&__boldTitle{
      font-weight: bold;
      display: flex;
      align-items: center;
    }

		&__text{
      color: #3c6971;
      font-weight: bold;
      margin-left: .9vw;
      margin-top: .2vw;

      @include sm(margin-left, 10px);
    }

    &__dotted{
      position: absolute;
      // top: 5.6vw;
      top: 35%;
      // left: .205vw;
      left: .3%;
      width: 2px;
      height: 50%;

      @media screen and (max-width: 1023px){
        left: .37vw;
      }
    }
  } 
  
  .cases{
    // border: 1px solid black;
		position: relative;
    line-height: 1.15;
    padding-top: 4vw;
    z-index: 1;

    @media screen and (max-width: 1023px){
      padding-top: svw;
    }

    @include xs(padding-top, 9vw);

    &__wrapper{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 4.5vw;

      @include sm(justify-content, space-between);

      & > picture{
        width: 20%;

        @media screen and (max-width: 1023px){
          width: 25%;
        }

        @include sm(width, 30%);
        @include xs(width, 32%);
      }
    }
  }

  .stats{
    // border: 1px solid black;
		position: relative;
    line-height: 1.15;    
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;

    @media screen and (max-width: 1023px){
      padding-top: 7vw;
      padding-bottom: 5vw;
    }

    @include xs-block{
      padding-bottom: 8vw;
    }

    &__title{
      // text-align: center;
    }

    &__graph{
      width: 95%;
      margin: 2.5vw auto 0 auto;

      @media screen and (max-width: 1200px){
        width: 100%;
      }

      @include xs-block{
        width: calc(100% + 20px);
        margin-left: -10px;
      }
    }

    &__graphNotes{
      width: 48%;
      margin-top: 1.55vw;

      @media screen and (max-width: 1200px){
        width: 50%;
      }

      @include sm(width, 65%);
      @include xs(width, 75%);
    }

    &__forestLine{
      width: 95%;
      margin: 4.2vw auto 0 auto;

      @media screen and (max-width: 1200px){
        width: 100%;
      }
    }

    &__lastP{
      // border: 1px solid red;
      font-family: Mir-Bold, sans-serif;
      width: 75%;
      margin: 1.5vw auto 0 auto;

      @media screen and (max-width: 1023px){
        width: 100%;
      }
    }

    &__note{
      font-family: Mir-Bold, sans-serif;
      text-transform: uppercase;
      text-align: left;
      font-size: .9vw;
      margin-top: 1vw;
      margin-left: 2.5%;

      @media screen and (max-width: 1200px){
        margin-left: 0;
        font-size: 1vw;
      }

      @media screen and (max-width: 1023px){
        font-size: 1.5vw;
      }

      @include sm(font-size, 1.6vw);
      @include xs(font-size, 1.8vw);
      @include xxs(font-size, 2vw);
    }
  }

	/* .slider{
		border: 1px solid blue;
		position: relative;
		line-height: 1.15;

		padding: 3.5vw 0 0 0;
		@include xs(padding, 10vw 0 0 0);
		@include xxs(padding, 12vw 0 0 0);

		&__wrapperSwiper{
			border: 1px solid yellow;
			position: relative;			
			width: 100%;
			text-align: center;
		}

		&__swiper-container{
			border: 1px solid red;
			position: relative;
			overflow: hidden;
			cursor: pointer;

			width: 54%;
			margin: 0 auto;
			border-radius: 30px;

			@include sm(width, 84%);
		}

		&__swiperItemsContainer{
			position: relative;
			align-items: center;
			
			@include from(1025px){
				cursor: pointer;
			}

			& > video{
				max-height: 37.3vw;
				padding: 0 2px;

				@include sm(max-height, 50vw);

				&:focus{
					outline: none;
				}
			}
		}

		&__buttons{
			border: 1px solid red;
			position: absolute;
			width: 80%;

			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			display: flex;
			justify-content: space-between;

			@include sm(width, 100%);

			@include from(1025px){

				& > *{
					cursor: pointer;
				}				
			}
		}

		&__btn{
			width: 10%;

			@include sm(width, 8%);

			cursor: pointer;

			&:hover{
				transform: scale(1.2);
			}

			&:active{
				transform: scale(1);
			}

			@include md-block{
				cursor: default;

				&:hover{
					transform: scale(1);
				}

				&:active{
					transform: scale(0.8);
				}
			}
		}

		.swiper-pagination_block{
			position: relative;
			text-align: center;
			margin-top: 1vw;
		}

		.swiper-pagination-bullet{
			opacity: 1;
			width: 5px;
			height: 5px;
			background: #81878a;
			margin: 0px .5vw;

			&-active{
				background: white;
			}
		}
	} */

	.team{
		// border: 1px solid black;
    position: relative;
    line-height: 1.15;

    &__fullBg{
      width: 100%;

      @media screen and (max-width: 1023px){
        width: 110%;
        margin-left: -5%;
      }

      @include sm-block{
        width: 135%;        
      }
      
      @include xs-block{
        width: 145%;
        margin-left: 0;
      }
    }
    
    &__container{
      // border: 1px solid black;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include xs(top, 43.5%);
    }

    &__members{
			// border: 1px solid blue;
      display: flex;

      width: 75%;
      
      @media screen and (max-width: 1023px){
        width: 70%;
      }

      @include sm(width, 90%);
      @include xs(width, 100%);
		}
	}

  .member{
		// border: 1px solid yellow;
    position: relative;
    text-align: center;

    margin: 0 .8vw;
		
		&__photo{
      position: relative;
      transform: translateX(13%);
		}

		&__name{
      font-family: Mir-Bold, sans-serif;
      color: black;
      font-size: 1.2vw;
      margin-top: .35vw;

			@include to(1366px){
				// font-size: 1.3vw;
      }
      
      @media screen and (max-width: 1023px){
        font-size: 1.8vw;
      }

			// @include to(1023px){
			// 	font-size: 1.4vw;
			// }

			@include sm(font-size, 2vw);
			@include xs(font-size, 2.5vw);
			// @include xxs(font-size, 3vw);
		}

		&__position{
      font-family: Mir-Bold, sans-serif;
      color: #3c6971;
      font-size: 1.1vw;
      margin-top: .2vw;

			@include to(1366px){
				font-size: 1.05vw;
      }
      
      @media screen and (max-width: 1023px){
        font-size: 1.5vw;
      }

			// @include to(1023px){
			// 	font-size: 1.1vw;
			// }

			@include sm(font-size, 1.8vw);
			@include xs(font-size, 2.2vw);
			// @include xxs-block{
			// 	font-size: 2.6vw;
			// 	margin-top: 3vw;
			// }
		}
	}
}

